@model PagedList.IPagedList<BeerTracker.Models.ViewModels.Admin.UserViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Manage User Roles";
}

<h2>Manage User Roles</h2>

@using (Ajax.BeginForm("ManageUserRoles", "Admin", new { Area = "Admin" }, new AjaxOptions()
{
    UpdateTargetId = "element-to-replace",
    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    AllowCache = true

}, new { @class = "form-inline", role = "form" }))
{
    <div>
        @Html.TextBox("keyword", null, new { type = "text", @class = "form-control", placeholder = "Search by username"})
        <button class="btn btn-info" type="submit">Search</button>
    </div>

}
<div class="col-md-10">
    <h3>Users</h3>
    <div id="element-to-replace">
        @Html.Partial("_ManageUserRoles")
    </div>
</div>
