<li>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Admin</a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Manage User Roles", "ManageUserRoles", "Admin", new { Area = "Admin" }, htmlAttributes: new { title = "Add User To Role", @class = "dropdown open" })</li>
        <li>@Html.ActionLink("Manage Beers", "ManageBeers", "Admin", new { Area = "Admin" }, htmlAttributes: new { title = "Edit User", @class = "dropdown open" })</li>
        <li>@Html.ActionLink("Edit User", "EditUser", "Admin", new { Area = "Admin" }, htmlAttributes: new { title = "Edit User", @class = "dropdown open" })</li>
        <li>@Html.ActionLink("Delete User", "DeleteUser", "Admin", new { Area = "Admin" }, htmlAttributes: new { title = "Edit User", @class = "dropdown open" })</li>
    </ul>
</li>
