<li>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Partner</a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("My Contests", "MyContests", "Partner", new { Area = "" }, new { title = "My Contests", @class = "dropdown open" })</li>
        <li>@Html.ActionLink("Add Contest", "Contest", "Partner", new { Area = "" }, new { title = "Add Contest", @class = "dropdown open" })</li>
     </ul>
</li>

