@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Oops!!!</h1>
<h2 class="text-danger">You tried to access a non-existent resource.</h2>
<h3 class="text-danger">Did you try to hack this app!?</h3>

@*@model BeerTracker.Models.ViewModels.Error.ErrorViewModel

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">@Model.Message</h1>
<h2 class="text-danger">An error occurred while processing your request with status code @Model.StatusCode.</h2>*@

